.containerTrending {
  display: flex;
  margin-left: 0.625rem;
  align-items: center;
  margin-bottom: 1rem;
}

.strongIcon {
  height: 2rem;
  width: 2.5rem;
}

.trendingTitle {
  font-size: 2.25rem;
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  margin-left: 0.625rem;
}
